USE [master]
GO
/****** Object:  Database [COMVENT]    Script Date: 2/12/2020 5:34:44 p. m. ******/
CREATE DATABASE [COMVENT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'COMVENT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\COMVENT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'COMVENT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\COMVENT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [COMVENT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [COMVENT]
GO
/****** Object:  Table [dbo].[COMPRAS]    Script Date: 2/12/2020 5:34:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRAS](
	[COMPRA_ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_PROD] [varchar](50) NOT NULL,
	[PROVEEDOR] [varchar](50) NOT NULL,
	[TIPO_PROD] [varchar](50) NULL,
	[PRECIO] [nchar](10) NULL,
	[FECHA] [datetime2](7) NULL,
 CONSTRAINT [PK__COMPRAS__7815C4FF523022CA] PRIMARY KEY CLUSTERED 
(
	[COMPRA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 2/12/2020 5:34:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[PRODUCTO_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRECIO] [nchar](10) NULL,
	[NOMBRE] [varchar](50) NULL,
	[TIPO] [varchar](50) NULL,
	[ID_COMPRA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTAS]    Script Date: 2/12/2020 5:34:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTAS](
	[VENTAS_ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [nchar](10) NOT NULL,
	[TIPO_PAGO] [nchar](10) NULL,
	[PRECIO] [nchar](10) NOT NULL,
	[NOMBRE_PROD] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VENTAS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
